<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.manage.dao.PayRecordMapper">

    <!-- 分页获取支付记录信息 -->
    <select id="selectRecordPage" resultType="java.util.LinkedHashMap">
        select
        pr.id,
        pr.student_id,
        pr.book_id,
        pr.status,
        pr.pay_date,
        pr.price,
        pr.create_date,
        si.code as studentCode,
        si.student_name,
        si.images as studentImages,
        pr.code as recordCode,
        bi.*
        from
        pay_record pr
        left join student_info si on
        (si.id = pr.student_id)
        left join book_info bi on
        (bi.id = pr.book_id)
        where
        1 = 1
        <if test="payRecord.bookName != null and payRecord.bookName != ''">
            AND bi.book_name LIKE CONCAT('%',#{payRecord.bookName},'%')
        </if>
        <if test="payRecord.studentName != null and payRecord.studentName != ''">
            AND si.student_name LIKE CONCAT('%',#{payRecord.studentName},'%')
        </if>
        <if test="payRecord.status != null and payRecord.status != ''">
            AND pr.status = #{payRecord.status}
        </if>
        <if test="payRecord.studentId != null and payRecord.studentId != ''">
            AND si.user_id = #{payRecord.studentId}
        </if>
        order by
        pr.create_date desc
    </select>

    <!-- 查询总收益 -->
    <select id="selectOrderPrice" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(oi.price), 0) FROM pay_record oi WHERE oi.status = '1'
    </select>

    <!-- 十天内订单数量统计 -->
    <select id="selectOrderNumWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN pay_record oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 十天内订单收益统计 -->
    <select id="selectOrderPriceWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(SUM(oi.price), 0) AS price
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN pay_record oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 获取本月订单信息 -->
    <select id="selectOrderByMonth" resultType="cc.mrbird.febs.manage.entity.PayRecord">
        select
        oi.*
        from
        pay_record oi
        where
        DATE_FORMAT( oi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <!-- 获取本年订单信息 -->
    <select id="selectOrderByYear" resultType="cc.mrbird.febs.manage.entity.PayRecord">
        select
        oi.*
        from
        pay_record oi
        where
        DATE_FORMAT( oi.create_date, '%Y' ) = DATE_FORMAT(
        CURDATE(),
        '%Y')
    </select>
</mapper>
